.v-sidebar-menu {
  background-color: $base-bg;
  .vsm--link {
    color: $item-color;
    &_exact-active,
    &_active {
      color: $item-active-color;
    }
    &_level-1 {
      &.vsm--link_exact-active,
      &.vsm--link_active {
        .vsm--icon {
          color: $icon-active-color;
          background-color: $icon-active-bg;
        }
      }
      & .vsm--icon {
        background-color: $icon-bg;
      }
    }
    &_hover {
      color: $item-hover-color;
      background-color: $item-hover-bg;
    }
  }
  .vsm--icon {
    color: $icon-color;
  }

  &.vsm_expanded {
    .vsm--item {
      &_open {
        .vsm--link {
          &_level-1 {
            color: $item-open-color;
            background-color: $item-open-bg;
            & .vsm--icon {
              color: $icon-open-color;
              background-color: $icon-open-bg;
            }
          }
        }
      }
    }
  }

  &.vsm_collapsed {
    .vsm--link_hover.vsm--link_level-1 {
      .vsm--icon {
        color: $mobile-icon-color;
        background-color: $mobile-icon-bg;
      }
    }
    .vsm--link.vsm--link_mobile-item {
      color: $mobile-item-color;
      background-color: transparent;
      & .vsm--icon {
        color: $mobile-icon-color;
        background-color: $mobile-icon-bg;
      }
    }
    .vsm--mobile-bg {
      background-color: $mobile-item-bg;
    }
  }

  .vsm--dropdown {
    & .vsm--list {
      background-color: $dropdown-bg;
    }
    & .vsm--link {
      color: $dropdown-color;
    }
    & .vsm--icon {
      color: $dropdown-color;
    }
  }

  & .vsm--link.vsm--link_level-1.vsm--link_exact-active {
    box-shadow: 3px 0px 0px 0px $primary-color inset;
  }
  &.vsm_rtl .vsm--link.vsm--link_level-1.vsm--link_exact-active {
    box-shadow: -3px 0px 0px 0px $primary-color inset;
  }

  .vsm--header {
    color: rgba($item-color, 0.7);
  }
  .vsm--badge.vsm--badge_default {
    color: $item-color;
    background-color: darken( $base-bg, 5% );
  }
  .vsm--toggle-btn {
    color: $item-color;
    background-color: darken( $base-bg, 5% );
  }
}