.v-sidebar-menu {
    background-color: $baseBg;
    & .vsm-link {
        color: $itemColor;
    }
    & .vsm-item.mobile-item {
        & > .vsm-link {
            color: $mobileItemColor;
        }
        & > .vsm-icon {
            color: $mobileIconColor;
            background-color: $mobileIconBg;
        }
    }
    & .vsm-item.first-item {
        & > .vsm-link {
            & > .vsm-icon {
                color: $iconColor;
                background-color: $iconBg;
            }
        }
        &.active-item > .vsm-link, &.parent-active-item > .vsm-link {
            box-shadow: 3px 0px 0px 0px $primaryColor inset;
            & > .vsm-icon {
                color: $iconActiveColor;
                background-color: $iconActiveBg;
            }
        }
    }
    &.rtl .vsm-item.first-item {
        &.active-item > .vsm-link, &.parent-active-item > .vsm-link {
            box-shadow: -3px 0px 0px 0px $primaryColor inset;
        }
    }
    &.vsm-default {
        & .vsm-item.first-item {
            &.open-item > .vsm-link {
                color: $itemOpenColor;
                background-color: $itemOpenBg;
                & > .vsm-icon {
                    color: $iconOpenColor;
                    background-color: $iconOpenBg;
                }
            }
        }
        & .vsm-link:hover {
            color: $itemHoverColor;
            background-color: $itemHoverBg;
        }
    }
    & .vsm-dropdown {
        & > .vsm-list {
            background-color: $dropDownBg;
            & .vsm-link {
                color: $dropDownColor;
            }         
            & .vsm-link:hover {
                color: $itemHoverColor;
                background-color: $itemHoverBg; 
            }
        }
    }
    & .vsm-mobile-bg {
        background-color: $mobileItemBg;
    }
    & .vsm-header {
        color: rgba($itemColor, 0.7);
    }
    & .vsm-badge.default-badge {
        color: $itemColor;
        background-color: $darkenBg;
    }
    & .collapse-btn {
        color: $itemColor;
        background-color: $darkenBg;
    }
}